<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/x-icon" href="img/limpieza.png" />
        <title>Busqueda</title>
        <link href="/css/clientes.css" rel="stylesheet" />
        <style type="text/css">
            .clase{
                display:flex;
                justify-content: center;
                align-items: center;
                margin:50px auto;
                width:40%;
            }
            .imgC{
                width:60%;
                height:50vh;
                border-radius: 50%;
              border: 5px solid black;
            }
            @media screen and (max-width: 720px){
             .clase{
                display:flex;
                flex-direction:column;
                justify-content: center;
                align-items: center;
                margin:50px auto;
                width:60%;
            }   
            .imgC{
                width:100%;
                height:40vh;
                border-radius: 50%;
              border: 5px solid black;
            }
            }
        </style>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        

              <nav class="navv" style='background: -webkit-linear-gradient(to right, #876ce9, #8590db);background: linear-gradient(to right,#8069f3, #081f3a)'>
            <div class="nocontainer">
             
                    
                 
                <div class="row-----">
                    

                        <input class="form-control" id="buscarPrincipal" type="search" placeholder="Buscar Producto..." aria-label="Buscar Producto..."/>
                    

                   
                        <button onclick="buscarProductos()"  id='boton3'>Buscar</button>
                 

                </div>
               
            </div>
             <a href="/javier" style="text-decoration:none;color:white;margin-left:30px;font-size: 30px;">Volver</a>
        </nav>
            
       
        <h2 class="heading">Resultado de la <span>Busqueda</span></h2>

        <div id='galeriaImagenes'>
            
        </div>

        <div id='otroResultado' class='clase'>
          <img src="<%= result.url %>" class='imgC'>
          <br>

          <div style='display:flex;flex-direction: column;margin-left:25px; color: aliceblue;'>
        <p style='font-size: 20px;'><span style='font-weight:bold;font-size:25px;'>Nombre:</span> <%= result.nombre %></p> 
          <p style='font-size: 20px;'><span style='font-weight:bold;font-size:20px;'>Codigo:</span> <%= result.codigo %></p>
          <p style='font-size: 20px;'><span style='font-weight:bold;font-size:20px;'>Precio:</span> <span style='color:rgb(255, 255, 255)'><%= result.precio %> $</span></p>

          <p style='font-size: 20px;'><span style='font-weight:bold;font-size:20px;'>Descripcion:</span> <%= result.descripcion %></p>
          <p style='font-size: 20px;'><span style='font-weight:bold;font-size:20px;'>Calidad:</span> <%= result.calidad %></p>
          <p style='font-size: 20px;'><span style='font-weight:bold;font-size:20px;'>Cantidad:</span> <%= result.cantidad %></p>  
          </div>
        

        </div>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
       
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script type="text/javascript">

  function buscarProductos(){
  const searchInput = document.getElementById('buscarPrincipal');
  const valorBusqueda = searchInput.value.trim();
  let galeriaImagenesBusqueda = document.getElementById('galeriaImagenes'); 
  console.log(valorBusqueda,'dato del query');

   // Elimina el último hijo de galeriaImagenesBusqueda, si existe
 const ultimoHijo = galeriaImagenesBusqueda.lastElementChild;
  if (ultimoHijo){
    galeriaImagenesBusqueda.removeChild(ultimoHijo);
  }

     // Realiza la solicitud al servidor
    fetch(`/clientico?busqueda=${valorBusqueda}`)
    .then(response => response.json())
    .then(data => {

        if(data && data.producto.length > 0){
         let otroResultado = document.getElementById('otroResultado');
         otroResultado.style='display:none';
           let fragmento= document.createDocumentFragment();
         let img = document.createElement("img");
         let nombre = document.createElement('P');
         let precio = document.createElement('P');
         let codigo = document.createElement('P');
         let descripcion = document.createElement('P');
         let calidad = document.createElement('P');
         let cantidad = document.createElement('P');
         let div = document.createElement('DIV');
         let div2 = document.createElement('DIV');
         div2.style='display:flex;flex-direction:column;justify-content:center;aling-item:center;margin-left:30px';
         div.style='display:flex;justify-content:center;aling-item:center;margin-top:40px;width:100%';
         div.classList.add('clase');
         nombre.innerHTML=`<span class='etiquetaP'>Nombre :</span> ${data.producto[0].nombre}`;
         precio.innerHTML=`<span class='etiquetaP'>Precio :</span> <span style='color:green'>${data.producto[0].precio} $</span>`;

         codigo.innerHTML=`<span class='etiquetaP'>Codigo :</span> <span>${data.producto[0].codigo} </span>`;
          
          descripcion.innerHTML=`<span class='etiquetaP'>Descricion :</span> <span>${data.producto[0].descripcion} </span>`;

          calidad.innerHTML=`<span class='etiquetaP'>Calidad:</span> <span>${data.producto[0].calidad} </span>`;
          
          cantidad.innerHTML=`<span class='etiquetaP'>Cantidad :</span> <span>${data.producto[0].cantidad} </span>`;

         nombre.style='margin-top:30px';
         img.src=data.producto[0].url;
         img.classList.add('claseIMG');
         div2.append(nombre);
         div2.append(precio);
         div2.append(codigo);
         div2.append(descripcion);
         div2.append(calidad);
         div2.append(cantidad);
         div.append(img);
         div.append(div2);
         fragmento.append(div);
         galeriaImagenesBusqueda.append(fragmento);
 

        }else{

             

        let mensaje = document.createElement('P');
        mensaje.style='color:red;margin-top:60px;font:30px "fuenteC"';
        mensaje.innerHTML = 'No se encontraron resultados';
        galeriaImagenesBusqueda.appendChild(mensaje);


        }
             
    })
    .catch(error => {
      console.error(error.message);
    });
}

        </script>
    </body>
</html>