<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="img/limpieza.png" />
	<title>Comprar</title>
	<link rel="stylesheet" type="text/css" href="/css/comprar.css">
		
	</style>
</head>
<body>

	<div id='divPricipal'>



		<section id='sectionFormulario'>

			

			<form action="/comprarPost" method='post'>
<h1>¿<span>Esta seguro que desea realizar la compra</span>?</h1>
				<div id='divCampos'>

					<div class='divColumn'>
						<label>Tag usuario</label>
						<input type="text" name="nombre_de_usuario" value='<%= resultado.nombre_usuario%>' readonly>
					</div class='divColumn'>

					
					
					<div class='divColumn'>
						<label>Apellido</label>
						<input type="text" name="apellido" value="<%= resultado.apellido%>" readonly>
					</div>

					<div class='divColumn'>
						<label>C.I:</label>	
						<input type="number" name="cedula" value='<%=ip.cedula%>' readonly>
					</div>


					<div class='divColumn'>
						<label>Producto</label>
						<input type="text" name="telefono" value='<%= resultado.nombre%>' readonly>
					</div>
					
					<div class='divColumn'>
						<label>Cliente_id</label>
						<input type="number" name="cliente_id" value='<%= resultado.id%>' readonly>
					</div>

					<div class='divColumn'>
						<label>producto_id</label>
						<input type="number" name="producto_id" value='<%= resultado.producto_id%>' readonly>
					</div>

					
					<div class='divColumn'>
						<label>cantidad</label>
						<input type="number" name="cantidad" value='1' id='cantidad'>
					</div>
					
					<div class='divColumn'>
						<label>monto pagado</label>
						<input type="number" name="total_pagado" value='<%= resultado.precio%>' id='Total_pagado' readonly>
					</div>

					<div class='divColumn'>
						<label>Codigo</label>
						<input type="number" name="codigo" value="<%=resultado.codigo%>" readonly>
					</div>

					<div class='divColumn'>
						<label>Numero de Tarjeta</label>
						<select name='numeroT' required>
							<option value=""></option>
							<option value='4111111111111111'>4111111111111111</option>
							<option value='5555555555554444'>5555555555554444</option>
							<option value='378282246310005'>378282246310005</option>
							<option value='6011111111111117'>6011111111111117</option>
							<option value='3530111333300000'>3530111333300000</option>
							<option value='30569309025904'>30569309025904</option>
						</select>
					</div>

					<div class='divColumn'>
						<label>Mes de vencimiento</label>
						<input type="number" name="mesV" min="1" max="12" step="1" placeholder="mes" required>
					</div>

					<div class='divColumn'>
						<label>Año de vencimiento</label>
						<input type="number" min="1900" max="2099" step="1" placeholder="Año" name="year" required>
					</div>

					<div class='divColumn'>
						<label>Metodo de pago</label>
						<select name='currency'>
							<option></option>
							<option value="USD">USD</option>
							<option value="EUR">EUR</option>
							<option value="VES">VES</option>
						</select>
					</div>

					<div class='divColumn'>
						<label>Descripción</label>
						<input type="text" name="descripcion" value='<%=resultado.descripcion%>' readonly>
					</div>

					
					<div class='divColumn'>
						<label>Dirección IP</label>
						<input type="text" name="ip_cliente" value='<%= ip.ipAddress%>' readonly>
					</div>


					<div class='divColumn'>
						<label>Clave</label>
						<input type="number" name="cvv" placeholder="clave" min="1" max="999" step="1" id='clave' required>
					</div>
					
				</div>

				<div id='confirmarCancelar'>

					<input type="submit" value="Confirmar">
					<input type="button" value="Cancelar" onclick="redireccionar()">
					
				</div>

				
			</form>
			
		</section>
		
	</div>


	<script type="text/javascript">

		function redireccionar(){
			window.location.href='/clientes';
		}

		let clave = document.getElementById('clave');
		clave.addEventListener('input',()=>{
			if(clave.value > 999){
				clave.value=999;
			}
		})


		let cantidad = document.getElementById('cantidad');

		let total_pagado = document.getElementById('Total_pagado');

		const valorInicial = total_pagado.value;

		cantidad.addEventListener('input',function(){
			if(cantidad.value < 1){
				cantidad.value=1;
			}
			total_pagado.value = cantidad.value * valorInicial;
		});
	</script>
</body>
</html>