<div id="editorcentrall">
<!------------------------------------------>
<label for="nombre">nombre</label>

<input type="text" autofocus name="nombre" value="<%=modelo.nombre%>"/>

<!------------------------------------------>

<label for="codigo">codigo</label>

<input name="codigo" type="number" value="<%= modelo.codigo%>"/>

<!--------------------------------------------->

<label for="precio">precio</label>
<input type="number" name="precio" value="<%= modelo.precio %>">

<!----------------------------------------------------->
<label for="descripcion">descripcion</label>
<input type="text" name="descripcion" value="<%= modelo.descripcion %>">

<!----------------------------------------------------->
<label for="calidad">calidad</label>
<input type="text" name="calidad" value="<%= modelo.calidad %>">
<!----------------------------------------------------->
<label for="cantidad">Cantidad</label>
<input type="number" name="cantidad" value="<%= modelo.cantidad %>">
<!----------------------------------------------------->
</div>
