<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= og.title %></title>
  <meta name="description" content="<%= og.description %>">
  <meta property="og:title" content="<%= og.title %>">
  <meta property="og:description" content="<%= og.description %>">
  <meta property="og:image" content="<%= og.image %>">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-G-Q9MZ56KZQ8"></script>
<!--Google Analytics-->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'G-Q9MZ56KZQ8');
</script>
<!--Schema Markup-->
<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "Article",
	  "headline": "cocina",
	  "datePublished": "2024-01-15",
	  "author": {
		"@type":"Person",
		"name": "Javier"
	},
	"publisher":{
		"@type": "Organization",
		"name": "productClean",
		"logo": {
		  "@type": "ImageObject",
		  "url": "https://www.amomikitchenaid.com/wp-content/uploads/2018/11/KitchenAid_Batedeira_KEA25AH_Imagem_Ambientada_3-800x533.png"
	  }
  },
  "image": {
	"@type": "ImageObject",
	"url": "https://www.amomikitchenaid.com/wp-content/uploads/2018/11/KitchenAid_Batedeira_KEA25AH_Imagem_Ambientada_3-800x533.png",
	"width": "700",
	"height": "500"
  },
  "description": "Productos de cocina con la mas alta eficiencia"
  }
  </script>
	<style type="text/css">
		 body{
			background-color: rgb(144, 172, 241);
			background-size:cover;
	background-attachment: fixed;
}
form{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:30%;
	margin:3rem auto;
	border-radius:10px;
	background:rgba(0,0,0,.6);
}
input{
	margin-top:2rem;
	text-align: center;
	border-radius:10px;
}
label{
	margin-top:1rem;
	color:white;
	font-size:1.4rem;
}
h1{
	color:black;
	display:flex;
	justify-content: center;
	margin-top:2rem;
	text-shadow:10px 10px 20px white;
}
.contenedorBotonera{
	display:flex;
	justify-content: center;
	align-items: center;
}
.contenedorBotonera input{
margin:2rem;
cursor:pointer;
}
@media screen and (max-width:720px){
 
	form{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:90%;
	margin:3rem auto;
	background:rgba(0,0,0,.6);
}

}


	</style>
</head>
<body>

<h1>Recuperación de Contraseña</h1>		

<form action="/recuperarPassword" method="POST">

	<label>Correo Electronico</label>
	<input type="email" name='email' placeholder="Ingrese Email">

	<div class='contenedorBotonera'>
	  

	<input type="submit" value="Enviar">
	<input type="button" value="Cancelar" onclick="cancelar()">

	</div>
</form>

<script type="text/javascript"> 
	function cancelar(){
		window.location.href='/loginUsers';
	}
</script>
<script type="text/javascript">
	//aqui va alert.js 
</script>
</body>
</html>
