<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/x-icon" href="img/limpieza.png" />
  <title>Clientes</title>
  <link rel="stylesheet" type="text/css" href="/css/producto.css">
  
</head>
<body>
  <h2 class="heading">Usuarios <span>Registrados</span></h2>
  <div class="table">
    <table border>
          <tr style='border:3px solid rgb(33, 5, 251); background: -webkit-linear-gradient(to right, #6842ef, rgb(122, 52, 219)); background: linear-gradient(to right, #6842ef, rgb(88, 52, 219))'>
            <th>ID</th>
            <th>nombre</th>
            <th>cedula</th>
            <th>correo</th>
            <th>password</th>
          </tr>
          <%for(const usuario of modelo){%>
            <tr>
              <td style='border:1px solid rgb(245, 40, 40); background: -webkit-linear-gradient(to right, #6842ef, rgb(127, 219, 52));background: linear-gradient(to right, #6842ef, rgb(52, 130, 219))'><%=usuario.id%></td>
              <td><%=usuario.nombre%></td>
              <td><%=usuario.cedula%></td>
              <td><%=usuario.correo%></td>
              <td><%=usuario.password%></td>
             </td>
            </tr>
           <%}%>
        </table>
       
  </div>
  <div class="simon">
      <a id='botonProductos' href="/productos">Volver</a>

  </div>

</body>
</html>